.video-timeline {
    box-shadow: 1px 0.25px black;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
}

.timeline__time_timestamp {
    padding: 10px;
    margin: 0;
    display: block;
    grid-row: 1;

    
}

.timeline__time_track {
    align-items: center;
    position: relative;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    grid-row: 2;
}

.timeline__time_track__preview {
    border-radius: 5px;
    opacity: 0.6;
    display: inline-block;
    height: 100px;

    /* gradient background */
    background-color: #60dfcd;
    background-image: linear-gradient(180deg, #60dfcd 0%, #1e9afe 74%);
}

.timeline__current_time_indicator {
    width: 1px;
    background-color: black;
    height: 75%;
    position: absolute;
}

.timeline__command_section {
    box-shadow: 0 1px 12px var(--shadow);
    border-radius: var(--radius);
    position: absolute;
    margin-top: -25px;
    z-index: 3;
    border: 4px solid transparent;


    background-color: transparent;
}

.timeline__command_section--selected {
    box-shadow: 0 1px 12px var(--shadow);
    border-radius: var(--radius);
    position: absolute;
    margin-top: -25px;
    z-index: 3;
    border: 4px solid transparent;


    background-color: transparent;

    border: 4px solid var(--primary);
    animation: changeColor ease;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.timeline__command_section__title {
    background-color: white;
    padding: 0.2em;
    text-align: center;
}

.timeline__command_section__title > p {
    margin: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


@keyframes changeColor {
    0% {
        border-color: transparent;
    }
  
    15% {
        border-color: var(--primary);
    }
  
    90% {
        border-color: var(--secondary);
    }

    100% {
        border-color: transparent;
    }
  }

.timeline__command_section__frosted {
    backdrop-filter: blur(10px);
    height: 50px;

    border-bottom-right-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.timeline__command_section__gear {
    opacity: 1;
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: black;
}

.timebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: var(--group-color);
}

.timebar__scale_slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.undraggable {
    pointer-events: none;
}