body {
    overflow-x: hidden;
}


.Page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 5fr 4fr;
    grid-template-columns: 1fr 2fr;
}

.video-tools {
    grid-column-start: 1;
    grid-column-end: 2;   
    grid-row: 1;
}

.video-player {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
}

.video-timeline {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;

    overflow-x: scroll;
    width: 100%;
}