/* globals */

:root {
    --primary: #1877F2;
    --secondary: #E7F3FF;
    --secondary-dark: #c3cfdb;

    --bg-color: #F0F2F5;
    --group-color: white;
    --border-color: #CED0D4;

    --text-color: #050505;
    --text-secondary-color: #1876F2;

    --shadow: rgba(0, 0, 0, 0.2);

    --radius: 8px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.158);
    border-radius: 20px;
    opacity: 0.5;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Nunito', sans-serif;

    overflow-x: hidden;
}

/* toolkit */

/* toolkit -> text */ 

.text-secondary {
    color: var(--text-secondary-color);
}

/* toolkit -> buttons  */

.btn-primary {
    background-color: var(--primary);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--text-secondary-color);
    
    /* overrides bootstrap stuff */
    border: 0px solid transparent;
}

.btn-secondary:hover {
    background-color: var(--secondary-dark);
    color: var(--text-secondary-color);
}

.btn-secondary:focus {
    background-color: var(--secondary-dark);
    color: var(--text-secondary-color);  
}

/* toolkit -> sections */

.surface {
    box-shadow: 0 1px 12px var(--shadow);
    border-radius: var(--radius);
    border: 1px solid var(--border-color);
}

.main-section {
    background-color: var(--group-color);
    box-shadow: 0 1px 2px var(--shadow);
    border-radius: var(--radius);
    margin: 1em;
}

.visualizer {
    display: none;
}

/* toolkit -> helpers */

.divided {
    border-bottom: 1px solid var(--secondary-dark);
}

.error-text {
    color: red;
    font-weight: bold;
}