.media-player {
    padding: 1.5em;
}

.media-display {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 50vh;
    max-width: 100%;
    background-color: var(--bg-color);
}

.media-player > .media-holder {
    display: block;
    margin: auto;
    width: 100%;
    max-height: 50vh;
}

.music-symbol {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.caption-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    font-size: 24;
    text-align: center;
}